In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Data Cleansing

### Import CSV

In [33]:
df = pd.read_csv("income.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

### Checking data types

In [34]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

### Drop unnecesary column

In [35]:
df = df.drop(['workclass', 'fnlwgt', 'educational-num', 'marital-status', 'relationship', 'capital-gain', 'capital-loss', 'hours-per-week'], axis=1)
df.head()

   age     education         occupation   race  gender native-country income
0   25          11th  Machine-op-inspct  Black    Male  United-States  <=50K
1   38       HS-grad    Farming-fishing  White    Male  United-States  <=50K
2   28    Assoc-acdm    Protective-serv  White    Male  United-States   >50K
3   44  Some-college  Machine-op-inspct  Black    Male  United-States   >50K
4   18  Some-college                  ?  White  Female  United-States  <=50K

### Renaming column

In [36]:
df = df.rename(columns={"native-country" : "country"})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         48842 non-null  int64
 1   education   48842 non-null  object
 2   occupation  48842 non-null  object
 3   race        48842 non-null  object
 4   gender      48842 non-null  object
 5   country     48842 non-null  object
 6   income      48842 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.6+ MB

### Drop duplicated data

In [37]:
dup = df[df.duplicated()]
dup.shape

(30282, 7)

In [38]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)
df.shape

(18560, 7)

### Change the categorical data into numeric data

In [39]:
df = pd.get_dummies(df[['occupation', 'race', 'gender', 'country', 'income']],drop_first=False)
df

,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,...,country_Scotland,country_South,country_Taiwan,country_Thailand,country_Trinadad&Tobago,country_United-States,country_Vietnam,country_Yugoslavia,income_<=50K,income_>50K
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18555,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
18556,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
18557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
18558,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
18559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

### Combining translated lable column into one

In [40]:
df['income'] = pd.Series(df[['income_<=50K', 'income_>50K']].values.argmax(axis=1))
df = df.drop(['income_<=50K', 'income_>50K'], axis=1)

df

,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,...,country_Puerto-Rico,country_Scotland,country_South,country_Taiwan,country_Thailand,country_Trinadad&Tobago,country_United-States,country_Vietnam,country_Yugoslavia,income
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18555,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18556,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18558,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
18559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

### Slice the data for lable and data for testing

In [41]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

y

array([0, 0, 1, ..., 0, 0, 0])

# Modeling

In [42]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=0)

In [43]:
from sklearn.neighbors import KNeighborsClassifier
clas = KNeighborsClassifier(n_neighbors=6, metric="euclidean", p=2)
clas.fit(x_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=6)

In [44]:
y_pred = clas.predict(x_test)

In [45]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[3816,  333],
       [1164,  255]])

In [46]:
from sklearn import metrics
print("Accuracy : ", metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.7311422413793104